@import "materialize-css/dist/css/materialize.min.css";

body {
    margin: 0;
    padding: 0;
    background-color: rgb(217, 226, 233);
}

span {
    color: rgb(117, 142, 158);
}

.to-do {
    margin-bottom: 1.5rem;
}

.to-do.status span {
    text-decoration: line-through;
}

.to-do label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: rgb(202, 211, 217);
    padding: 1rem;
}

.to-do i {
    z-index: 2;
}