.Header {
    grid-area: head;
    padding: 10px;
    margin: 5px;
    background: #0055ab;
    border-radius: 15px;
}

    .Header h3, .Header h4, .Header p {
        color: rgb(236, 236, 236);
    }

    .Header h3, .Header p, .Header div, .Header input, .Header h4 {
        display: inline-block;
    }

.Login {
    float: right;
}

.LogInText, .userInfoText {
    margin-right: 12px;
}

.error {
    color: red;
    margin-right: 12px;
}

.message {
    color: rgb(236, 236, 236);
    margin-right: 12px;
}